openapi: 3.2.0
info:
  title: Kontomatik Data Analysis Score API
  version: 1.0.0
  description: 'Analytical services running on top of imported AIS, PDF, or uploaded data.

    Includes transaction labeling, vendor recognition, ML-based credit scoring,

    behavioral profiling, owner features, data summaries, and income

    confirmation across configurable timespans.'
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Score
  description: ML credit scoring
paths:
  /score:
    get:
      tags:
      - Score
      summary: Get Credit Score
      description: Returns ML-based creditworthiness scoring for an owner.
      operationId: getScore
      parameters:
      - name: ownerExternalId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Score returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreResult'
components:
  schemas:
    ScoreResult:
      type: object
      properties:
        ownerExternalId:
          type: string
        score:
          type: number
        scoreVersion:
          type: string
        repaymentProbability:
          type: number
        explanations:
          type: array
          items:
            type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
