openapi: 3.0.3
info:
  title: Kontomatik Account Information Service Aggregation Score API
  version: 1.0.0
  description: 'PSD2-regulated Account Information Service (AIS) for connecting to end-user

    bank accounts across Central and Eastern Europe. Supports Single Access

    (one-time data fetch) and Multiple Access (reusable consent token, up to

    180 days), redirection-based SignIn Flow, and mock-bank testing.

    '
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
  license:
    name: Commercial — see https://kontomatik.com
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Score
  description: ML credit scoring
paths:
  /score:
    get:
      tags:
      - Score
      summary: Get Credit Score
      description: Returns ML-based creditworthiness scoring for an owner.
      operationId: getScore
      parameters:
      - name: ownerExternalId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Score returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScoreResult'
components:
  schemas:
    ScoreResult:
      type: object
      properties:
        ownerExternalId:
          type: string
        score:
          type: number
        scoreVersion:
          type: string
        repaymentProbability:
          type: number
        explanations:
          type: array
          items:
            type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key issued by Kontomatik; requests must originate from a whitelisted server.
