openapi: 3.0.3
info:
  title: Kontomatik Account Information Service Aggregation Catalog API
  version: 1.0.0
  description: 'PSD2-regulated Account Information Service (AIS) for connecting to end-user

    bank accounts across Central and Eastern Europe. Supports Single Access

    (one-time data fetch) and Multiple Access (reusable consent token, up to

    180 days), redirection-based SignIn Flow, and mock-bank testing.

    '
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
  license:
    name: Commercial — see https://kontomatik.com
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Catalog
  description: Bank coverage catalog
paths:
  /ais-catalog:
    get:
      tags:
      - Catalog
      summary: List AIS Catalog
      description: Returns the catalog of supported banks for the Account Information Service.
      operationId: getAisCatalog
      responses:
        '200':
          description: Catalog returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AisCatalog'
  /health:
    get:
      tags:
      - Catalog
      summary: Health Check
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Service is healthy
  /pdf-catalog:
    get:
      tags:
      - Catalog
      summary: List PDF Coverage Catalog
      description: Returns the list of Polish banks supported for PDF statement parsing.
      operationId: getPdfCatalog
      responses:
        '200':
          description: Catalog returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfCatalog'
components:
  schemas:
    PdfCatalog:
      type: object
      properties:
        banks:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              country:
                type: string
                example: PL
    AisCatalog:
      type: object
      properties:
        targets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              country:
                type: string
                example: PL
              name:
                type: string
              accessModes:
                type: array
                items:
                  type: string
                  enum:
                  - SINGLE
                  - MULTIPLE
                  - MIXED
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key issued by Kontomatik; requests must originate from a whitelisted server.
