openapi: 3.0.3
info:
  title: Kontomatik Account Information Service Aggregation Mock API
  version: 1.0.0
  description: 'PSD2-regulated Account Information Service (AIS) for connecting to end-user

    bank accounts across Central and Eastern Europe. Supports Single Access

    (one-time data fetch) and Multiple Access (reusable consent token, up to

    180 days), redirection-based SignIn Flow, and mock-bank testing.

    '
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
  license:
    name: Commercial — see https://kontomatik.com
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Mock
  description: Test session generation against KontoBank
paths:
  /mock-session.xml:
    post:
      tags:
      - Mock
      summary: Create Mock Session
      description: Generates a test session against the KontoBank mock bank for sandbox testing.
      operationId: createMockSession
      responses:
        '200':
          description: Mock session created
          content:
            application/xml:
              schema:
                $ref: '#/components/schemas/MockSession'
components:
  schemas:
    MockSession:
      type: object
      properties:
        sessionId:
          type: string
        sessionIdSignature:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key issued by Kontomatik; requests must originate from a whitelisted server.
