openapi: 3.2.0
info:
  title: Kontomatik Data Analysis Income API
  version: 1.0.0
  description: 'Analytical services running on top of imported AIS, PDF, or uploaded data.

    Includes transaction labeling, vendor recognition, ML-based credit scoring,

    behavioral profiling, owner features, data summaries, and income

    confirmation across configurable timespans.'
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Income
  description: Income confirmation
paths:
  /income-confirmation:
    get:
      tags:
      - Income
      summary: Get Income Confirmation
      description: Returns income-focused aggregates across four configurable timespans.
      operationId: getIncomeConfirmation
      parameters:
      - name: ownerExternalId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Income confirmation returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IncomeResult'
components:
  schemas:
    IncomeResult:
      type: object
      properties:
        ownerExternalId:
          type: string
        timespans:
          type: array
          items:
            type: object
            properties:
              window:
                type: string
                example: 90d
              confirmedIncome:
                type: number
              transactionCount:
                type: integer
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
