openapi: 3.2.0
info:
  title: Kontomatik Data Analysis Vendors API
  version: 1.0.0
  description: 'Analytical services running on top of imported AIS, PDF, or uploaded data.

    Includes transaction labeling, vendor recognition, ML-based credit scoring,

    behavioral profiling, owner features, data summaries, and income

    confirmation across configurable timespans.'
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Vendors
  description: Vendor / counterparty recognition (beta)
paths:
  /vendors:
    get:
      tags:
      - Vendors
      summary: Get Vendor Recognition
      description: Identifies merchant / counterparty names in transactions (beta).
      operationId: getVendors
      parameters:
      - name: ownerExternalId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Vendor mapping returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VendorResult'
components:
  schemas:
    VendorResult:
      type: object
      properties:
        ownerExternalId:
          type: string
        vendors:
          type: array
          items:
            type: object
            properties:
              transactionId:
                type: string
              vendorName:
                type: string
              confidence:
                type: number
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
