openapi: 3.2.0
info:
  title: Kontomatik Data Analysis Profile API
  version: 1.0.0
  description: 'Analytical services running on top of imported AIS, PDF, or uploaded data.

    Includes transaction labeling, vendor recognition, ML-based credit scoring,

    behavioral profiling, owner features, data summaries, and income

    confirmation across configurable timespans.'
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Profile
  description: Behavioral profiling (beta)
paths:
  /profile:
    get:
      tags:
      - Profile
      summary: Get Behavioral Profile
      description: Returns descriptive behavioral profile segments based on transaction patterns (beta).
      operationId: getProfile
      parameters:
      - name: ownerExternalId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Profile returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfileResult'
components:
  schemas:
    ProfileResult:
      type: object
      properties:
        ownerExternalId:
          type: string
        segments:
          type: array
          items:
            type: string
        descriptors:
          type: object
          additionalProperties:
            type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
