openapi: 3.2.0
info:
  title: Kontomatik Data Analysis Features API
  version: 1.0.0
  description: 'Analytical services running on top of imported AIS, PDF, or uploaded data.

    Includes transaction labeling, vendor recognition, ML-based credit scoring,

    behavioral profiling, owner features, data summaries, and income

    confirmation across configurable timespans.'
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Features
  description: Owner-level financial metrics
paths:
  /owner-features:
    get:
      tags:
      - Features
      summary: Get Owner Features
      description: Returns owner-level financial metrics derived from imported data.
      operationId: getOwnerFeatures
      parameters:
      - name: ownerExternalId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Features returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeatureResult'
components:
  schemas:
    FeatureResult:
      type: object
      properties:
        ownerExternalId:
          type: string
        features:
          type: object
          additionalProperties:
            type: number
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
