openapi: 3.2.0
info:
  title: Kontomatik Data Analysis Aggregation API
  version: 1.0.0
  description: 'Analytical services running on top of imported AIS, PDF, or uploaded data.

    Includes transaction labeling, vendor recognition, ML-based credit scoring,

    behavioral profiling, owner features, data summaries, and income

    confirmation across configurable timespans.'
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Aggregation
  description: Cross-source aggregation
paths:
  /data/aggregated:
    get:
      tags:
      - Aggregation
      summary: Get Aggregated Data
      description: Aggregates data across multiple import sessions for a single owner.
      operationId: getAggregatedData
      parameters:
      - name: ownerExternalId
        in: query
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Aggregated data returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AggregatedData'
components:
  schemas:
    AggregatedData:
      type: object
      properties:
        ownerExternalId:
          type: string
        owners:
          type: array
          items:
            type: object
        accounts:
          type: array
          items:
            type: object
        sources:
          type: array
          items:
            type: string
            enum:
            - AIS
            - PDF
            - UPLOAD
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
