openapi: 3.2.0
info:
  title: Kontomatik PDF Parsing Confirmations API
  version: 1.0.0
  description: 'Extracts structured data from Polish bank statement and transaction

    confirmation PDFs. Supports standard mode (strict verification, rejects on

    inconsistencies) and trusted mode (returns data even when verifications

    fail).'
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Confirmations
  description: Transaction confirmation PDF parsing
paths:
  /pdf/confirmation:
    post:
      tags:
      - Confirmations
      summary: Parse Confirmation (Standard)
      description: Parses a single-transaction confirmation PDF and returns structured data.
      operationId: parseConfirmation
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - pdf
              properties:
                pdf:
                  type: string
                  format: binary
                ownerExternalId:
                  type: string
      responses:
        '200':
          description: Confirmation parsed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmationResult'
  /pdf/confirmation-trusted:
    post:
      tags:
      - Confirmations
      summary: Parse Confirmation (Trusted)
      description: Parses a confirmation PDF in trusted mode, returning data even on failed verification checks.
      operationId: parseConfirmationTrusted
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required:
              - pdf
              properties:
                pdf:
                  type: string
                  format: binary
                ownerExternalId:
                  type: string
      responses:
        '200':
          description: Confirmation parsed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConfirmationResult'
components:
  schemas:
    ConfirmationResult:
      type: object
      properties:
        confirmationId:
          type: string
        bank:
          type: string
        amount:
          type: number
          format: double
        currency:
          type: string
        date:
          type: string
          format: date
        sender:
          type: string
        receiver:
          type: string
        description:
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
