openapi: 3.0.3
info:
  title: Kontomatik Account Information Service Aggregation Owner API
  version: 1.0.0
  description: 'PSD2-regulated Account Information Service (AIS) for connecting to end-user

    bank accounts across Central and Eastern Europe. Supports Single Access

    (one-time data fetch) and Multiple Access (reusable consent token, up to

    180 days), redirection-based SignIn Flow, and mock-bank testing.

    '
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
  license:
    name: Commercial — see https://kontomatik.com
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Owner
  description: Owner data lifecycle
paths:
  /data/delete:
    post:
      tags:
      - Owner
      summary: Delete Owner Data
      description: Permanently removes all data for the specified owner. Default retention is 24 hours.
      operationId: deleteOwnerData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ownerExternalId
              properties:
                ownerExternalId:
                  type: string
      responses:
        '200':
          description: Data deleted
  /owner-upload:
    post:
      tags:
      - Owner
      summary: Upload Owner Data
      description: Uploads custom owner / account / transaction data in XML or JSON for analysis alongside bank-sourced data.
      operationId: uploadOwnerData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnerUpload'
      responses:
        '200':
          description: Upload accepted
components:
  schemas:
    OwnerUpload:
      type: object
      required:
      - ownerExternalId
      properties:
        ownerExternalId:
          type: string
        owners:
          type: array
          items:
            type: object
        accounts:
          type: array
          items:
            type: object
        transactions:
          type: array
          items:
            type: object
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key issued by Kontomatik; requests must originate from a whitelisted server.
