openapi: 3.2.0
info:
  title: Kontomatik Data Analysis Owner API
  version: 1.0.0
  description: 'Analytical services running on top of imported AIS, PDF, or uploaded data.

    Includes transaction labeling, vendor recognition, ML-based credit scoring,

    behavioral profiling, owner features, data summaries, and income

    confirmation across configurable timespans.'
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Owner
  description: Owner data lifecycle
paths:
  /data/delete:
    post:
      tags:
      - Owner
      summary: Delete Owner Data
      description: Permanently removes all data for the specified owner. Default retention is 24 hours.
      operationId: deleteOwnerData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - ownerExternalId
              properties:
                ownerExternalId:
                  type: string
      responses:
        '200':
          description: Data deleted
  /owner-upload:
    post:
      tags:
      - Owner
      summary: Upload Owner Data
      description: Uploads custom owner / account / transaction data in XML or JSON for analysis alongside bank-sourced data.
      operationId: uploadOwnerData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OwnerUpload'
      responses:
        '200':
          description: Upload accepted
components:
  schemas:
    OwnerUpload:
      type: object
      required:
      - ownerExternalId
      properties:
        ownerExternalId:
          type: string
        owners:
          type: array
          items:
            type: object
        accounts:
          type: array
          items:
            type: object
        transactions:
          type: array
          items:
            type: object
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
