openapi: 3.2.0
info:
  title: Kontomatik Catalog API
  version: 1.0.0
  contact:
    name: Kontomatik Support
    email: support@kontomatik.com
    url: https://developer.kontomatik.com/
  description: 'Operations tagged Catalog across 2 of this provider''s published API definitions: kontomatik-ais-api-openapi.yml, kontomatik-pdf-parsing-api-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.kontomatik.com/v1
  description: Production
- url: https://test.api.kontomatik.com/v1
  description: Test
security:
- ApiKeyAuth: []
tags:
- name: Catalog
  description: Bank coverage catalog
paths:
  /ais-catalog:
    get:
      tags:
      - Catalog
      summary: List AIS Catalog
      description: Returns the catalog of supported banks for the Account Information Service.
      operationId: getAisCatalog
      responses:
        '200':
          description: Catalog returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AisCatalog'
    servers:
    - url: https://api.kontomatik.com/v1
      description: Production
    - url: https://test.api.kontomatik.com/v1
      description: Test
  /health:
    get:
      tags:
      - Catalog
      summary: Health Check
      operationId: getHealth
      security: []
      responses:
        '200':
          description: Service is healthy
    servers:
    - url: https://api.kontomatik.com/v1
      description: Production
    - url: https://test.api.kontomatik.com/v1
      description: Test
  /pdf-catalog:
    get:
      tags:
      - Catalog
      summary: List PDF Coverage Catalog
      description: Returns the list of Polish banks supported for PDF statement parsing.
      operationId: getPdfCatalog
      responses:
        '200':
          description: Catalog returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PdfCatalog'
    servers:
    - url: https://api.kontomatik.com/v1
      description: Production
    - url: https://test.api.kontomatik.com/v1
      description: Test
components:
  schemas:
    AisCatalog:
      type: object
      properties:
        targets:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              country:
                type: string
                example: PL
              name:
                type: string
              accessModes:
                type: array
                items:
                  type: string
                  enum:
                  - SINGLE
                  - MULTIPLE
                  - MIXED
    PdfCatalog:
      type: object
      properties:
        banks:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              name:
                type: string
              country:
                type: string
                example: PL
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
      description: API key issued by Kontomatik; requests must originate from a whitelisted server.
x-refined-from:
- kontomatik-ais-api-openapi.yml
- kontomatik-pdf-parsing-api-openapi.yml
